header {
    padding-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifs;
    font-weight: bold;
}
.brand {
    font-size: 30px;
    padding-top: 20px;
    padding-left: 170px;
    color: white;
    text-shadow: 5px 5px 7px black;
}
.brand:hover {
  color: red;
  transition: 2s;
  transition-delay: 00.1s;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }

  @media screen and (max-width: 700px) {
    header {
      width: 100%;
      height: auto;
      position: relative;
    }
    header .brand {float:left}
  }