* {
  box-sizing: border-box;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
    
}

/* Home section*/
.home {
  height: 600px;
  border-bottom: 2px solid red;
}
.mytxt1 {
  padding-top: 250px;
  text-align: center;
  font-size: 50px;
  font-weight: 1000;
}
.home p {
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
}
/* end */

/* About Section*/
.abt {
  height: 100%;
}
.abt1 {
  padding-top: 50px;
  text-align: center;
}
.abt1 h1 {
  font-size: 30px;
  font-weight: bolder;
}
.abt1 p {
  font-size: 20px;
}
.abt2 {
  font-size: 18px;
}
.quotes {
  text-align: right;
  font-size: 16px;
}
.column-image {
  float: left;
  width: 60%;
}
.card-img {
  width:  100%;
  height: auto
}
.column-content {
  float: right;
  width: 40%;
}
.card-content {
  background-color: #808080;
  height: auto;
}
.row-abt {
  content: "";
  display: table;
  clear: both;
}
button {
  padding: 10px;
  font-size: larger;
  font-weight: bolder;
}
/* End */

/* skills section*/
#skills {
  height: auto;
  border-bottom: 2px solid red;
}
#skills h2 {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}
#skills p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.column-skill-a {
  width: 50%;
  float:left;
}
.card-skill-a {
  background-color: #808080;
  padding: 10px;
}
.column-skill-b {
  width: 50%;
  float: right;
}
.card-skill-b {
  background-color: #808080;
  padding: 10px;
}
.row-skills:after {
  content: "";
  display: table;
  clear: both;
}
/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: #04AA6D;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 60%; background-color: #808080;} /* Dark Grey */

/* service */
.services {
  text-align: left;
}
.services ul li {
  font-size: 25px;
}
/* end skills section */

/* contact section*/
.contact {
  height: 100%;
  background-color: black;
}
.me {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}
.column1 {
  float: left;
  width: 40%;
  text-align: center;
  padding-bottom: 20px;
}
.column2 {
  float: right;
  width: 60%;
}
.row-contact:after {
  content: "";
  display: table;
  clear: both;

}
/* end contact section */