* {
  box-sizing: border-box;
}

:root {
  --main-black: #181719;
  --main-gray: #303841;
  --main-red: rgb(209, 22, 22);
  --main-white: white;
}

html {
  scroll-behavior: smooth;
  font-size: 65%;
}

@media (max-width: 75em) {
  html {
    font-size: 57%;
  }
}

body {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  min-height: 100vh;
  font-size: 1.8rem;
  color: var(--main-white);
}

h1,h2,h3,h4,h5,h6 {font-family: "Montserrat"}

img,
picture {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

ul {
  list-style: none;
}

/** Navigation Bar **/
/* The sidebar */
.mynavbar {
  height: 100%;
  width: 140px; 
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--main-gray);
  overflow: auto;
  padding: 0;
}

/* navigation bar links */
.mynavbar a {
  padding: 2px 8px 2px 16px;
  font-size: 20px;
  color: var(--main-white);
  display: block;
}

.mynavbar a:hover {
  color: var(--main-red);
  text-decoration: none;
  background: linear-gradient(30deg, #3a3d40 0%, var(--main-black) 100%);
}

.mynavbar img {
  max-width: 100%;
  height: auto;
  border: 4px solid var(--main-gray);
  opacity: 70%;
}

/* screeens less than 700px wide, sidebar turn to topbar */
@media (max-width: 700px) {
.mynavbar {
  display: none;
}
.mynavbar a {float: left;}
div.main {margin-left: 0;}
}

.nav-bar {
position: fixed;
width: 100%;
top: 0;
/*z-index: 1;
top: 0;
float: left;
display: none!important;*/
}

nav-bar a {
float: left;
display: block;
color: var(--main-white);
text-align: center;
padding: 15px;
text-decoration: none;
}

.small-nav {
  display: none;
  color: var(--main-white);
}

.small-nav a {
  color: var(--main-white);
}

.small-nav a:hover {
  color: var(--main-black);
}

@media (max-width: 700px) {
  .small-nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    color: var(--main-white);
    background-color: var(--main-red);
    text-align: center;
  }
  .nav-list {
    display: flex;
    padding: 1.5rem;
    margin-right: 2rem;
    font-size: 1.4rem;
    font-weight: 800;
  }
}

/** End Navigation Bar **/

/* Style page content */
.main {
  margin-left: 140px; /* Same as the width of the sidebar */
  padding: 0;
}

/* Home section*/
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(30deg, #3a3d40 0%, var(--main-black) 100%);
}

.hello {
  font-size: 40px;
  font-weight: lighter;
  color: var(--main-red);
  font-family: 'Tangerine', serif;
}
.mytxt1 {
  font-size: 50px;
  font-weight: 1000;
  color: white;
  text-shadow: 3px 3px black;
}

@media (max-width: 700px) {
  .mytxt1 {
    text-align: center;
  }
}
.mytxt1:hover {
  color: var(--main-red);
  transition: 4s;
  transition-delay: 0.2s;
}
.home p {
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  color: var(--main-red);
  text-shadow: 2px 2px black;
}

.home a {
  padding-bottom: 70px;
}

button {
  padding: 10px;
  font-size: larger;
  font-weight: bolder;
  background-color: var(--main-red);
  border-radius: 5px;
}
/* end */

/* About Section*/
.abt {
  background-color: var(--main-gray);
  height: 100vh;
  width: 100%;
  color: var(--main-white);
}

.abt h2 {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 15;
}
.abt1 {
  padding-top: 10px;
  text-align: left;
}
.abt1 p {
  font-size: 1.5rem;
  margin: 0 20px;
}

/* End */

/* skills section*/
#skills {
  height: auto;
}
#skills h2 {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  padding-top: 25px;
}

.column-skill-a {
  width: 50%;
  float:left;
}
.card-skill-a {
  background: linear-gradient(#3a3d40 0%, var(--main-black) 100%);
  padding: 10px;
}
.column-skill-b {
  width: 50%;
  float: right;
}
.card-skill-b {
  background: linear-gradient(#3a3d40 0%, var(--main-black) 100%);
  padding: 10px;
}
.row-skills:after {
  content: "";
  display: table;
  clear: both;
}
/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  opacity: 80%;
  background-color: var(--main-gray);
}

.skills {
  text-align: right;
  padding-top: 0px;
  padding-bottom: 0px;
  color: var(--main-white);
}

.comp {width: 95%; background-color: var(--main-red);}
.css {width: 90%; background-color: var(--main-red);}
.js {width: 50%; background-color: var(--main-red);}
.python {width: 85%; background-color: var(--main-red);}
.c {width: 60%; background-color: var(--main-red);}
.server {width: 85%; background-color: var(--main-red);}
.git {width: 90%; background-color: var(--main-red);}
.db {width: 70%; background-color: var(--main-red);}
.illustrator {width: 90%; background-color: var(--main-red);}
.photoshop {width: 70%; background-color: var(--main-red);}

/* end skills section */

/* Project section */
.projects {
  text-align: center;
  padding: 10rem 2rem;
  background: linear-gradient(30deg, #3a3d40 0%, var(--main-black) 100%);
  
}

.projects-header {
  color: var(--main-white);
  font-size: 4rem;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  max-width: 640px;
  margin: 0 auto 0rem auto;
}

@media (max-width: 29em) {
  .projects-header {
    font-size: 2.5rem;
  }
}

.line {
  width: 70%;
  border: 2px solid var(--main-red);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 700px) {
  .projects {
    padding: 6rem 1 rem;
    overflow: scroll;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background-color: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2.5px;
}

.project:hover {
  width: 110%;
  height: 120%;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  color: var(--main-white);
}

.project-title:hover {
  color: var(--main-red);
  text-decoration: none;
  background-color: var(--main-black);
}
/* END Project section */

/* contact section*/
.contact {
  height: 100%;
  background-color: var(--main-black);
}
.me {
  text-align: center;
  padding-top: 5px;
  color: var(--main-white);
}

.me h2 {
  font-size: 4rem;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
}
.column1 {
  float: left;
  width: 50%;
  text-align: center;
}
.card-column1{
  padding: 10px;
}
.column2 {
  float: right;
  width: 50%;
  padding-right: 50px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.row-contact:after {
  content: "";
  display: table;
  clear: both;

}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-radius: 5px;
}

input[type=submit] {
  background-color: rgb(228, 30, 30);
  color: var(--main-white);
  font-size: larger;
  font-weight: bolder;
  padding: 12px 20px;
  border: 2px solid var(--main-gray);
  cursor: pointer;
  border-radius: 5px;
}

input[type=submit]:hover {
  background-color: black;
  transition: 2s;
  transition-delay: 0.3s;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .column1, .column2, input[type=submit] {
    width: 100%;
    margin-top: 0;
    margin: 0 auto;
    font-size: 1.5rem;
  }
}

/* get in touch styles*/
.info {
  float: right;
  width: 70%;
}

._title {
  text-align: left;
  padding-top: 25px;
  font-weight: bold;
  color: var(--main-white);
  font-size: 20px;
}
.sub_title {
  text-align: left;
  font-weight: lighter;
  color: var(--main-white);
  font-size: 18px;
}
/* end contact section */

/* footer section */
.ftext {
  background-color: var(--main-black);
  padding-bottom: 20px;
}

.connect {
  text-align: center;
}

.connect li {
  display: inline;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
  color: var(--main-red);
  text-decoration: none;
}

/* Whatsapp */
.fa-whatsapp {
  color: var(--main-white);
}

/* Twitter */
.fa-twitter {
  color: var(--main-white);
}

/* Linkedin */
.fa-linkedin {
  color: var(--main-white);
}

/* github */
.fa-github {
  color: var(--main-white);
}

/* medium */
.fa-medium {
  color: var(--main-white);
}

.foot_text {
  text-align: center;
  font-size: 14px;
  color: var(--main-white);
  padding-top: 50px;
}

.foot_text a {
  color: var(--main-red);
}

.foot_text a:hover {
  color: var(--main-white);
}