* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style page content */
.main {
  margin-left: 200px; /* Same as the width of the sidebar */
  padding: 0;
    
}

/* Home section*/
.home {
  /*background-image: url("/images/home2.JPG");*/
  height: 600px;
}
.hello {
  padding-top: 200px;
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  color: #f02c2c;
  font-family: 'Courier New', Courier, monospace;
}
.mytxt1 {
  text-align: center;
  font-size: 50px;
  font-weight: 1000;
}
.mytxt1:hover {
  color: #f02c2c;
  transition: 4s;
  transition-delay: 0.2s;
}
.home p {
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}
/* end */

/* About Section*/
.abt {
  background-color: #808080;
  height: 100%;
}
.abt1 {
  padding-top: 50px;
  text-align: center;
}
.abt1 h1 {
  font-size: 30px;
  font-weight: bolder;
}
.abt1 p {
  font-size: 20px;
}
.abt2 {
  font-size: 18px;
  padding: 0 20px;
}
.quotes {
  text-align: right;
  font-size: 16px;
  padding-right: 20px;
}
.column-image {
  float: left;
  width: 60%;
}
.card-img {
  width:  100%;
  height: auto
}
.column-content {
  float: right;
  width: 40%;
}
.card-content {
  background-color: #808080;
  height: auto;
}
.row-abt {
  content: "";
  display: table;
  clear: both;
}
button {
  padding: 10px;
  font-size: larger;
  font-weight: bolder;
}
/* End */

/* skills section*/
#skills {
  height: auto;
}
#skills h2 {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}
#skills p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.column-skill-a {
  width: 50%;
  float:left;
}
.card-skill-a {
  background-color: #808080;
  padding: 10px;
}
.column-skill-b {
  width: 50%;
  float: right;
}
.card-skill-b {
  background-color: #808080;
  padding: 10px;
}
.row-skills:after {
  content: "";
  display: table;
  clear: both;
}
/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.comp {width: 95%; background-color: #f02c2c;}
.css {width: 90%; background-color: #2717b9;}
.js {width: 50%; background-color: #e9dedd;}
.python {width: 85%; background-color: #f0e10c;}
.c {width: 60%; background-color: #353636;}
.server {width: 85%; background-color: #36f456;}
.git {width: 90%; background-color: #f0140c;}
.db {width: 70%; background-color: #0b6312;}
.illustrator {width: 90%; background-color: #836e11;}
.photoshop {width: 70%; background-color: hsl(251, 78%, 42%);}

/* service */
.services {
  background-color: black;
}
.card-s h3 {
  text-align: center;
  font-size: large;
}
/*.card p {
  align-items: center;
}*/

.column-s {
  float: left;
  width: 33.33%;
  padding: 0, 10px;
}
.services {margin: 0 -5px;}

.services:after {
  content: "";
  display: table;
  clear: both;
}

.card-s {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: grey;
}

@media screen and (max-width: 600px) {
  .column-s {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
/* END services */
/* end skills section */

/* contact section*/
.contact {
  height: 100%;
  background-color: black;
}
.me {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  color: #f02c2c;
  font-family: 'Courier New', Courier, monospace;
}
.column1 {
  float: left;
  width: 50%;
  text-align: center;
}
.card-column1{
  padding: 10px;
}
.column2 {
  float: right;
  width: 50%;
  padding-right: 50px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.card-column2:hover {
  color: #0b6312;
  transition: 2s;
  transition-delay: 0.4s;
}
.row-contact:after {
  content: "";
  display: table;
  clear: both;

}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-radius: 4%;
}

input[type=submit] {
  background-color: red;
  color: white;
  font-size: larger;
  font-weight: bolder;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4%;
}

input[type=submit]:hover {
  background-color: #45a049;
  transition: 2s;
  transition-delay: 0.3s;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .column1, .column2, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* get in touch styles*/
.info {
  float: right;
  width: 70%;
}

._title {
  text-align: left;
  padding-top: 25px;
  font-weight: bolder;
  color: #808080;
  font-size: 20px;
}
.sub_title {
  text-align: left;
  font-weight: lighter;
  color: #808080;
  font-size: 18px;
}
._title:hover{
  color: #836e11;
  transition: 2s;
}
.sub_title:hover {
  color: #f0140c;
  transition: 2s;
}
.card-column1:hover {
  color: #0b6312;
  transition: 2s;
  transition-delay: 0.5s;
}
/* end contact section */